* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;

  list-style: none;
}

:root {
  --component-color: #5d2c96;
}

.headerEntry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 1rem;
}

h1 {
  width: 100%;
  border-bottom: 2px solid black;
}

.navmenu {
  display: flex;
  align-self: center;
  gap: 2rem;
}

nav > a {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.ContainerPage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
}

.entriesContainer {
  width: 100%;
  height: 85vh;
  overflow: hidden;

  grid-area: 1 / 1 / 2 / 2;
}

.formContainer {
  width: 100%;
  height: 85vh;

  grid-area: 1 / 2 / 2 / 3;
}

.sectionEntriesList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: 100%;

  padding: 20px;
  margin-left: 1rem;

  background-color: var(--component-color);
  border-radius: 15px;
}

.sectionEntriesList > button {
  width: 40%;
  align-self: flex-end;
}

.sectionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  margin-right: 1rem;

  background-color: var(--component-color);
  border-radius: 15px;
}

.currentEntry {
  margin: 1rem;
}

#formEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.spanButtons {
  width: 100%;
}

button {
  height: 2rem;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 5px;
}

.formLabel {
  display: inline-block;

  width: 100%;

  text-align: center;
  font-size: 2rem;

  margin-bottom: 1rem;
}

.formInput {
  width: 50%;
  height: 2rem;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.entryList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
